

body{
    background-image: url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");    
}
h1{
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    color: red;
    margin-top: 26%;
    margin-left: 25%;
    text-align: center;
}
p{
    background-color: rgba(135, 207, 235, 0.493);
    padding: 1%;
    color:black;
    font-family: Georgia;
    font-size: 30px;
    margin-left: 28%;
    text-align: justify;
}

img{
    display: block;
    margin-left: 55%;
    margin-right: auto;
}